@(loginForm:Form[LoginData])(implicit request:RequestHeader, messagesProvider: MessagesProvider)

@main("Login", "stylesheets/login.css") {
<div class="page">
    <div class="loginMenu">
        <div class="loginMenuHeader">
            <div class="logoContainer">
                <img id="trinityLogo" src="@routes.Assets.versioned("images/trinitylogo_noText.png")">
            </div>
            <div class="applicationName">
                <h1>TigerCLAWS</h1>
                <h2>Login</h2>
            </div>
        </div>
        <div class="loginMenuBody" id="loginForm">
            @helper.form(action = routes.Application.validateLogin()){
            @helper.CSRF.formField
            @helper.inputText(loginForm("Username"))
            @helper.inputPassword(loginForm("Password"))
            <div class="form-actions">
                <button type="submit">Login</button>
            </div>
            }
        </div>
    </div>
</div>
}